<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{PageTitle}}</title>
    {{ bootstrap.load_css() }}
    {%block BaseHead%}{%endblock%}
</head>
<body class="vh-100 d-flex flex-column">
    {{ bootstrap.load_js() }}
    
    {%include "components/scripts/masonry.html"%}
    {%include "components/scripts/themeUpdater.html"%}

    <!-- Macros -->
    {%from "components/cards.html" import build_card, build_card_grid%}

    <!-- Overlays -->
    {%include "components/messages.html"%}
    {%include "components/modals.html"%}
    
    <!-- Blocks -->
    {%include "components/header.html"%}
    {%block BaseBody%}{%endblock%}
    {%include "components/footer.html"%}
</body>
</html>
