<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{PageTitle}}</title>
    {{ bootstrap.load_css() }}
    {%block BaseHead%}{%endblock%}
</head>
<body class="vh-100 d-flex flex-column">
    {{ bootstrap.load_js() }}
    
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
    <script async>
        const updateTheme = () => {
            document.documentElement.setAttribute(
                "data-bs-theme",
                window.matchMedia(
                    "(prefers-color-scheme: dark)"
                ).matches ? "dark" : "light"
            )
        }
    
        window.matchMedia("(prefers-color-scheme: dark)").addEventListener(
            "change", () => {
                updateTheme()
            }
        )
    
        updateTheme()
    </script>

    <!-- Macros -->
    {%from "components/cards.html" import build_card, build_card_grid%}

    <!-- Overlays -->
    {%include "components/modals.html"%}
    
    <!-- Blocks -->
    {%include "components/header.html"%}
    {%include "components/messages.html"%}
    {%block BaseBody%}{%endblock%}
    {%include "components/footer.html"%}
</body>
</html>
